body {
    font-family: Arial, sans-serif;
    background-color: #F4F8FB; /* Fundo Principal: Branco Gelo */
    color: #1B3A4B; /* Texto Principal: Azul-Marinho */
}

/* Container principal */

.container {
    width: 75vw; /* 75% da largura da tela */
    height: calc(100vh - 120px); /* Altura da tela menos a altura do cabeçalho */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    background-color: #A3BAC3; /* Fundo do Contêiner: Cinza Azul */
    border-radius: 0px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Remove a barra de rolagem */
    position: relative; /* Para posicionamento absoluto dos pseudo-elementos */
    top: 0; /* Remove o ajuste de posição */
}

.layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 75vw; /* Mesma largura do contêiner principal */
    border-radius: 0 0 8px 8px; /* Bordas arredondadas no fundo */
}

/* Título da página */

.page-title {
    margin-top: 20px; /* Ajusta a margem superior do título */
    margin-bottom: 20px; /* Ajusta a margem inferior do título */
    text-align: center; /* Alinha o título ao centro */
    color: #fff; /* Texto do Título: Branco */
    font-size: 2.5rem; /* Tamanho da fonte maior */
    font-weight: bold; /* Texto em negrito */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
    border-bottom: 3px solid #227C9D; /* Borda inferior */
    padding-bottom: 10px; /* Espaçamento inferior */
}


/* Tabela de colaboradores */

.table-container {
    width: 100%;
    max-width: 90%; /* Ajusta a largura para que a tabela não fique muito grande */
    margin: 5px auto;
    padding: 5px;
    background-color: #227C9D; /* Fundo da Tabela: Azul Médio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; /* Altura ajustada automaticamente para o conteúdo */
    max-height: 800px; /* Limita a altura para 10 registros antes da rolagem */
    overflow-y: auto; /* Só adiciona rolagem se necessário */
    margin-bottom: 0; /* Remove a margem inferior quando a tabela se ajusta ao conteúdo */
}

.table-wrapper {
    max-height: 800px; /* Limita a altura da tabela */
    overflow-y: auto; /* Só ativa a rolagem se houver mais de 10 registros */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Ajusta o tamanho das colunas com base no conteúdo */
}

.table-container th,
.table-container td {
    padding: 12px 16px; /* Espaçamento maior para melhorar o visual */
    text-align: center; /* Centraliza as colunas */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fundo das células da tabela */
    height: 40px; /* Altura de cada linha */
}

.table-container th {
    cursor: pointer;
    background-color: #227C9D; /* Cor de fundo dos cabeçalhos */
    color: #fff; /* Cor do texto dos cabeçalhos */
}

.table-container td {
    white-space: nowrap; /* Evita quebra de linha dentro das células */
    overflow: hidden;
    text-overflow: ellipsis; /* Exibe "..." para texto que não cabe */
}

.table-container td:last-child {
    text-align: center; /* Centraliza as ações */
}

.table-container a {
    text-decoration: none; /* Remove o sublinhado dos links */
}

.table-container a {
    text-decoration: none; /* Remove o sublinhado dos links */
}

/* Barra de pesquisa */

.search-container {
    display: flex;
    align-items: center;
    width: 100%; /* Ajusta a largura do contêiner de pesquisa */
    max-width: 75%; /* Define a largura máxima para corresponder à table-container */
    margin: 0px auto;
}

.search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #227C9D; /* Bordas e Detalhes: Azul Médio */
    border-radius: 4px;
}

.search-icon {
    margin-left: 10px; /* Adiciona espaço entre a barra de pesquisa e o ícone */
    color: #333; /* Cor do ícone */
}

/*Logo*/

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}